
body {
    background-color: rgba(128, 128, 128, 0.027)
}

.navbar-brand {
    background-color:rgb(8, 150, 103);
    text-decoration: none;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.nav-item {
    display: inline-block;

}
.nav-item a {

    color: black !important;
    font-family: 'Times New Roman';
    font-size: 14px;

}

h1 {
    color: rgb(8, 150, 103);
    font-family: 'Times New Roman';
    font-weight: bold !important;
    font-size: 34px !important;

}

h2 {
    color: rgb(8, 150, 103);
    font-family: 'Times New Roman';
    font-weight: bold !important;
    font-size: 26px !important;

}

h3 {
    font-family: 'Times New Roman';
    font-weight: bold !important;
    font-size: 10px !important;
    text-align: center;

}

.col-md-6 {
    padding-bottom: 10px;
    padding-right: 10px;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2px;
    width: 160px;
  }